<h2>Import Pandas & Csv Libraries</h2>

In [190]:
import pandas as pd
import csv

<h2>Read the csv files</H2>

In [191]:
df_sales = pd.read_csv("data/sales.csv")
df_employees = pd.read_csv("data/employees.csv")

<h4>Test the dataframes</h4>

We print the 5 first rows of both dataframe to make sure that the data have been well imported

In [192]:
df_sales.head()

,ID,Date,Produit,Prix,Quantité,Catégorie,Vendeur,Remise
0,1,2023-09-15,Ordinateur,1200,2,Informatique,2.0,10.0
1,2,2023-09-15,Souris,25,5,Accessoires,1.0,0.0
2,3,2023-09-19,Clavier mécanique,70,3,Informatique,2.0,5.0
3,4,2023-09-18,Écran 24 pouces,180,4,Informatique,1.0,15.0
4,5,2023-09-19,Casque audio,120,1,Accessoires,3.0,NaN

In [193]:
df_employees.head()

   ID       Nom    Equipe
0   1     Alice  Equipe A
1   2       Bob  Equipe B
2   3  Corentin  Equipe A
3   4    Daniel  Equipe C

<h2>Clean the data</h2>

We count the duplicated rows to see if it's relevant to apply a treatment on the dataframe

In [194]:
df_sales.groupby(df_sales.columns.tolist(),as_index=False).size()

,ID,Date,Produit,Prix,Quantité,Catégorie,Vendeur,Remise,size
0,1,2023-09-15,Ordinateur,1200,2,Informatique,2.0,10.0,1
1,2,2023-09-15,Souris,25,5,Accessoires,1.0,0.0,1
2,3,2023-09-19,Clavier mécanique,70,3,Informatique,2.0,5.0,1
3,4,2023-09-18,Écran 24 pouces,180,4,Informatique,1.0,15.0,1
4,6,2023-09-28,Imprimante laser,250,1,Informatique,2.0,20.0,1
5,8,2023-09-22,Station de charge,45,3,Accessoires,3.0,0.0,2
6,9,2023-09-22,Sac à dos pour ordinateur,80,2,Accessoires,2.0,10.0,1
7,10,2023-09-24,Tablette 10 pouces,300,1,Informatique,3.0,25.0,1
8,11,2023-09-25,Clé USB 64Go,15,10,Accessoires,1.0,0.0,1
9,13,2023-09-27,Chargeur universel,35,4,Accessoires,3.0,0.0,1
10,14,2023-09-24,Carte graphique,450,1,Informatique,1.0,50.0,2
11,15,2023-09-29,Souris ergonomique,60,3,Accessoires,2.0,5.0,1
12,16,2023-09-30,Enceintes Bluetooth,150,2,Accessoires,3.0,15.0,2
13,17,2023-10-01,Tablette graphique,200,1,Informatique,1.0,20.0,1
14,18,2023-10-02,Ordinateur portable,1400,1,Informatique,3.0,30.0,1

In [195]:
df_employees.groupby(df_employees.columns.tolist(),as_index=False).size()

   ID       Nom    Equipe  size
0   1     Alice  Equipe A     1
1   2       Bob  Equipe B     1
2   3  Corentin  Equipe A     1
3   4    Daniel  Equipe C     1

There is duplicate data only in the sales file

<h4>Delete from both table the duplicated rows</h4>

In [196]:
df_sales = df_sales.drop_duplicates(subset = 'ID')

<h4>Looking at the missing data</h4>

In [197]:
print('Sales missing data\n')
print(df_sales.isna().sum())
print('\nEmployees missing data\n')
print(df_employees.isna().sum())

Sales missing data

ID           0
Date         0
Produit      0
Prix         0
Quantité     0
Catégorie    1
Vendeur      0
Remise       2
dtype: int64

Employees missing data

ID        0
Nom       0
Equipe    0
dtype: int64

<h4>Handle data types</h4>

In [198]:
print('Sales types\n')
print(df_sales.dtypes)
print('\nEmployees types\n')
print(df_employees.dtypes)

Sales types

ID             int64
Date          object
Produit       object
Prix           int64
Quantité       int64
Catégorie     object
Vendeur      float64
Remise       float64
dtype: object

Employees types

ID         int64
Nom       object
Equipe    object
dtype: object

In [199]:
df_sales['Date'] = pd.to_datetime(df_sales['Date'])
df_sales['Vendeur'] = df_sales['Vendeur'].astype('int64')
df_sales = df_sales.astype({'Produit': 'string', 'Catégorie': 'string'})

df_employees = df_employees.astype({'Nom': 'string', 'Equipe': 'string'})

We check again the type to make sure our modification has been took into account

In [200]:
print('Sales types\n')
print(df_sales.dtypes)
print('\nEmployees types\n')
print(df_employees.dtypes)

Sales types

ID                    int64
Date         datetime64[ns]
Produit      string[python]
Prix                  int64
Quantité              int64
Catégorie    string[python]
Vendeur               int64
Remise              float64
dtype: object

Employees types

ID                 int64
Nom       string[python]
Equipe    string[python]
dtype: object

<h2>Add columns</h2>

In [201]:
df_sales['PrixReel'] = df_sales['Prix'] * df_sales['Quantité'] * (100 - df_sales['Remise'])/100.0

We check the column we just created

In [202]:
df_sales.head()

,ID,Date,Produit,Prix,Quantité,Catégorie,Vendeur,Remise,PrixReel
0,1,2023-09-15,Ordinateur,1200,2,Informatique,2,10.0,2160.0
1,2,2023-09-15,Souris,25,5,Accessoires,1,0.0,125.0
2,3,2023-09-19,Clavier mécanique,70,3,Informatique,2,5.0,199.5
3,4,2023-09-18,Écran 24 pouces,180,4,Informatique,1,15.0,612.0
4,5,2023-09-19,Casque audio,120,1,Accessoires,3,NaN,NaN

<h2>Little fix before exporting the data</h2><br>Some characters aren't supported by the encoding system

In [203]:
df_sales = df_sales.rename(columns={'Catégorie': 'Categorie', 'Quantité': 'Quantite'})

<h2>Export the data</h2>

<h4>Convert the dataframe in a dictionary

In [204]:
def dict_maker(df):
    headers = df.columns.values 
    d = [dict(zip(headers, df.iloc[i])) for i in range(len(df))]
    return d

dict_sales = dict_maker(df_sales)
dict_employees = dict_maker(df_employees)

<h4>Save the list</h4>

In [205]:
def csv_maker(file_name, dict):
    with open(file_name, mode = 'w', newline = '') as csvfile:
        fieldnames = dict[0].keys()
        writer = csv.DictWriter(csvfile, fieldnames = fieldnames)
        writer.writeheader()
        writer.writerows(dict)

csv_maker('data/sales_vf.csv', dict_sales)
csv_maker('data/employees_vf.csv', dict_employees)